.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}

.grid{
  height: 55%;
  border: 1px solid green;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-gap: 8px;
}

.paginator{
  display: flex;
}
